@using DUT_HelpDesk.Controllers
@model IEnumerable<DUT_HelpDesk.DatabaseModels.Ticket>

@{
    ViewData["Title"] = "UserTicket";
}

@section scripts{
    <script>
        function SetSort(dropdown, startDate, endDate) {

            window.location.href = "/User/UserTicket?sortBy=" + dropdown + "&startDate=" + startDate + "&endDate=" + endDate;

        }
    </script>
    }

<div>
    <h1>My Tickets</h1>
    <p>
        <form method="get" asp-area="" asp-controller="User" asp-action="CreateTicket">
            <button type="submit" class="btn btn-primary">Create New</button>
        </form>
    </p>
    @Html.DropDownList("Sortby", new SelectListItem[] { new SelectListItem()
    { Text = "Date", Value = "Date" }, new SelectListItem()
    { Text = "Date Down", Value = "Status" }, new SelectListItem()
    { Text = "Alpha", Value = "Alpha"}}, new {style="width:20%;display:inline;height:37px;border-color:lightgrey;border-radius:3px"})
    @if (ViewBag.startDate != null)
    {
        <input style="width:20%;display:inline;" id="startDate" class="form-control" @*onchange="SetSort(this.value)"*@ type="date" value="@ViewBag.startDate" />
    }
    else
    {
        <input style="width:20%;display:inline;" id="startDate" class="form-control" @*onchange="SetSort(this.value)"*@ type="date" />
    }
    @if (ViewBag.endDate != null)
    {
        <input style="width:20%;display:inline;" id="endDate" class="form-control col-sm-5" @*onchange="SetSort(startDateId.value, endDateId.value)"*@ type="date" value="@ViewBag.endDate" />
    }
    else
    {
        <input style="width:20%;display:inline;" id="endDate" class="form-control col-sm-5" @*onchange="SetSort(startDateId.value, endDateId.value)"*@ type="date" @*value="@DateTime.Today.ToString("yyyy-MM-dd")"*@ />
    }
    <input style="width:20%;display:inline;" id="filter" class="form-control col-sm-5" type="button" value="Filter" onclick="SetSort(Sortby.value, startDate.value, endDate.value)" />
    <br/>
    <table class="table table-responsive table-hover">
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Open Date</th>
            <th>Priority</th>
            <th>Status</th>
            <th></th>
        </tr>
        <br />
        @foreach (var item in Model)
        {
            @if (item != null)
            {
                string status = StateManager.GetTicketStatus(item.TicketId);
                if(status == "Available")
                {
                    status = "Pending";
                }
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TicketId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Subject)</td>
                    <td>@string.Format("{0:dd, MMM yyyy - HH:mm}", item.DateCreated)</td>
                    @if (item.Priority.Equals("Low"))
                    {
                        <td style="color: #00c20d">@Html.DisplayTextFor(model => item.Priority)</td>
                    }
                    @if (item.Priority.Equals("Normal"))
                    {
                        <td style="color: darkorange">@Html.DisplayTextFor(model => item.Priority)</td>
                    }
                    @if (item.Priority.Equals("High"))
                    {
                        <td style="color: red">@Html.DisplayTextFor(model => item.Priority)</td>
                    }
                    <td>@status</td>
                    <td>@Html.ActionLink("Details", "ViewTicket", "User", new { id=item.TicketId }, null)</td>
                </tr>
            }
        }
    </table>
</div>



