@model DUT_HelpDesk.DatabaseModels.Ticket

@{
    ViewBag.Title = "UserTicket";
}

<h2>Ticket Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>@Html.DisplayNameFor(model => model.Subject):
            @Html.DisplayTextFor(model => model.Subject)</p>
        </dt>
        <dt>
            <p>
                @Html.DisplayNameFor(model => model.QueryBody):
                @Html.DisplayTextFor(model => model.QueryBody)
            </p>
        </dt>
        <dt>
            <p>
                @Html.DisplayNameFor(model => model.DateCreated):
                @Html.DisplayTextFor(model => model.DateCreated)
            </p>
        </dt>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.TicketId }) |*@
    @Html.ActionLink("Back to My Tickets", "UserTicket")
</p>