@model List<DUT_HelpDesk.DatabaseModels.Technician>
@{
    ViewData["Title"] = "Technicians";
    string[] tickets = new string[3];
}

@section scripts{
    <script>
        function SetSort(dropdown, startDate, endDate, status) {

            window.location.href = "/Technician/TechnicianLeadTicketQueue?sortBy=" + dropdown + "&startDate=" + startDate + "&endDate=" + endDate;
        }
    </script>
    }

<div>
    <h1>Technicians</h1>
    <br />
    @Html.DropDownList("Sortby", new SelectListItem[] { new SelectListItem()
    { Text = "Date", Value = "Date" }, new SelectListItem()
    { Text = "Date Down", Value = "Date Down" }, new SelectListItem()
    { Text = "Alpha", Value = "Alpha"}}, new {style="width:15%;display:inline;height:37px;border-color:lightgrey;border-radius:3px"})
    @if (ViewBag.startDate != null)
    {
        <input style="width:15%;display:inline;" id="startDate" class="form-control" @*onchange="SetSort(this.value)"*@ type="date" value="@ViewBag.startDate" />
    }
    else
    {
        <input style="width:15%;display:inline;" id="startDate" class="form-control" @*onchange="SetSort(this.value)"*@ type="date" />
    }
    @if (ViewBag.endDate != null)
    {
        <input style="width:15%;display:inline;" id="endDate" class="form-control col-sm-5" @*onchange="SetSort(startDateId.value, endDateId.value)"*@ type="date" value="@ViewBag.endDate" />
    }
    else
    {
        <input style="width:15%;display:inline;" id="endDate" class="form-control col-sm-5" @*onchange="SetSort(startDateId.value, endDateId.value)"*@ type="date" @*value="@DateTime.Today.ToString("yyyy-MM-dd")"*@ />
    }
    @*@Html.DropDownList("Status", new SelectListItem[] { new SelectListItem()
    { Text = "Available", Value = "Available" }, new SelectListItem()
    { Text = "Closed", Value = "Closed" }, new SelectListItem()
    { Text = "Active", Value = "Active" }}, new {style="width:15%;display:inline;height:37px;border-color:lightgrey;border-radius:3px"})*@
    <input style="width:15%;display:inline;" id="filter" class="form-control col-sm-5" type="button" value="Filter" onclick="SetSort(Sortby.value, startDate.value, endDate.value)" />
    <br />
    <table class="table table-responsive table-hover">
        <tr>
            <th>Email</th>
            <th>Date Joined</th>
            <th>Tickets Closed</th>
            <th></th>
            <th></th>
        </tr>
        <br />
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                if (item != null)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.TechnicianId)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateJoined)</td>
                        <td>@Html.DisplayFor(modelItem => item.TicketTechnicians.Where(x => x.Ticket.TicketStatuses.OrderByDescending(o => o.TimeStamp).FirstOrDefault().Status.StatusId == 3).ToList().Count)</td>
                        <td>@Html.ActionLink("Information", "Information", "TechnicianLead", new {  }, null)</td>
                        <td>@Html.ActionLink("Information", "GenerateReport", "TechnicianLead", new {  }, null)</td>
                    </tr>
                }
            }
        }
    </table>
</div>



