@using DUT_HelpDesk.Controllers
@model List<DUT_HelpDesk.DatabaseModels.Technician>
@{
    ViewData["Title"] = "Technicians";
}

<div>
    <h1>Technicians</h1>
    <br />
    <a asp-controller="TechnicianLead" asp-action="TechnicianLeadTicketQueue">Register New</a>
    <table class="table table-responsive table-hover">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Date Joined</th>
            <th>Tickets Closed</th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            @foreach (var technician in Model)
            {
                if (technician != null)
                {
                    int numClosed = StateManager.GetTechnicianClosedTicketCount(technician.TechnicianId);
                    <tr>
                        <td>@Html.DisplayFor(modelItem => technician.TechnicianId)</td>
                        <td>@((ViewBag.UsersList as List<User>)?.FirstOrDefault(u => u.UserId == technician.UserId)?.Email)</td>
                        <td>@string.Format("{0:dd, MMM yyyy}", technician.DateJoined)</td>
                        <td>@numClosed</td>
                        <td>@Html.ActionLink("Information", "TechnicianInformationDashboard", "TechnicianLead", new {techId = technician.TechnicianId}, null)</td>
                    </tr>
                }
            }
        }
    </table>
</div>