@model List<DUT_HelpDesk.DatabaseModels.Technician>
@{
    ViewData["Title"] = "Technicians";
}

<div>
    <h1>Technicians</h1>
    <br />
    <a asp-controller="TechnicianLead" asp-action="TechnicianLeadTicketQueue">Register New</a>
    <table class="table table-responsive table-hover">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Date Joined</th>
            <th>Tickets Closed</th>
            <th></th>
        </tr>
        <br />
        @if (Model != null)
        {
            @foreach (var technician in Model)
            {
                if (technician != null)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => technician.TechnicianId)</td>
                        <td>@((ViewBag.UsersList as List<User>)?.FirstOrDefault(u => u.UserId == technician.UserId)?.Email)</td>
                        <td>@Html.DisplayFor(modelItem => technician.DateJoined)</td>
                        <td>@Html.DisplayFor(modelItem => technician.TicketTechnicians.Where(x => x.Ticket.TicketStatuses.OrderByDescending(o => o.TimeStamp).FirstOrDefault().Status.StatusId == 3).ToList().Count)</td>
                        <td>@Html.ActionLink("Information", "Information", "TechnicianLead", new {  }, null)</td>
                    </tr>
                }
            }
        }
    </table>
</div>