@model DUT_HelpDesk.DatabaseModels.Ticket

@{
    ViewBag.Title = "Technician";
}

<h2>Ticket Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>@Html.DisplayNameFor(model => model.Subject):
            @Html.DisplayTextFor(model => model.Subject)</p>
        </dt>
        <dt>
            <p>
                Date Created: 
                @Html.DisplayTextFor(model => model.DateCreated)
            </p>
        </dt>
        <dt>
            <p>
                @Html.DisplayNameFor(model => model.Replies):
                @if(ViewBag.replies.Count > 0)
                {
                    @foreach (Reply item in ViewBag.replies)
                    {
                    <p>@item.Date : @item.Message</p>
                    }
                }
                else
                {
                    @Html.DisplayName("No Replies")
                }
            </p>
        </dt>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.TicketId }) |*@
    @Html.ActionLink("Back to List", "TechnicianDashboard")
</p>