@model DUT_HelpDesk.DatabaseModels.ReplyTicketViewModel

@{
    ViewBag.Title = "Technician";
}

<h2>Ticket Details</h2>
<p>
    @Html.ActionLink("Back to Assigned Tickets", "TechnicianDashboard", "Technician")
</p>
<div>
    <div>
        <table class="table table-responsive table-hover">
            <tr>
                <th style="width: 15%;">Date Created</th>
                <th style="width: 20%;">Subject</th>
                <th style="width: 50%;">Description</th>
                <th style="width: 10%;"></th>
            </tr>
            <tr>
                <td>@string.Format("{0:dd, MMM yyyy - HH:mm}", Model.ticket.DateCreated)</td>
                <td>@Html.DisplayTextFor(model => model.ticket.Subject)</td>
                <td>@Html.DisplayTextFor(model => model.ticket.QueryBody)</td>            
                <td>
                    @{
                        DUT_HelpDesk.DatabaseModels.DutHelpdeskdbContext db = new DUT_HelpDesk.DatabaseModels.DutHelpdeskdbContext();
                        string id = Model.ticket.TicketId.ToString();
                        var uploadedFile = db.Attachments.FirstOrDefault(f => f.TicketId == int.Parse(id));

                        if (uploadedFile != null)
                        {
                            <a href="@Url.Action("ViewAttachment", "Technician", new { id = id })">Attachment  </a>
                        }
                    }
                </td>
            </tr>
        </table>
    </div>
            
    <hr/>
    <br/>
            <h4>Replies</h4>
            <table class="table table-responsive table-hover">
                    <tr>
            <th style="width: 15%;">Time</th>
            <th style="width: 20%;">From</th>
            <th style="width: 50%;">Message</th>
            <th style="width: 10%;"></th>
                    </tr>
                    @if (ViewBag.replies.Count > 0)
                    {
                        @foreach (Reply item in ViewBag.replies)
                        {
                            <tr>
                    <td>@string.Format("{0:dd, MMM yyyy - HH:mm}", item.Date)</td>
                                @{
                                    List<User> users = ViewBag.users;
                                    for (int i = 0; i < users.Count; i++)
                                    {
                                        if (item.UserId == users[i].UserId)
                                        {
                                            <td>@users[i].Email</td>
                                        }
                                    }
                                }
                                <td>@item.Message</td>
                                @{                                                                      
                                    var uploadedAtt = db.Attachments.FirstOrDefault(f => f.ReplyId == item.ReplyId);
                                    if (uploadedAtt != null)
                                    {
                                        <td><a href="@Url.Action("ViewReplyAttachment", "Technician", new { id = item.ReplyId })">Attachment</a></td>
                                    }else{
                                        <td></td>
                                    }
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td>There are no replies for this ticket. Add a reply below.</td>
                        <td></td>
                    }
            </table>
            <hr/>
            <br />
        <h4>New Reply</h4>
        <form method="post" asp-action="MyReplies" enctype="multipart/form-data">

            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="Message">Reply:</label>
                <textarea asp-for="Message" class="form-control" maxlength="255"></textarea>
            </div>
            <input asp-for="id" type="hidden" value="@Model.ticket.TicketId" />
            <br />
            <div>
                <label asp-for="file" class="control-label">Attachment</label>
                <input asp-for="file" class="form-control" />
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Submit Reply</button>
        </form>
</div>
