@using DUT_HelpDesk.Controllers
@model DUT_HelpDesk.DatabaseModels.ReplyTicketViewModel

@{
    ViewBag.Title = "Technician";
}
<p>
    @Html.ActionLink("Back", "TechnicianTicketQueue", "Technician")
</p>
<div style="background-color: #F1F1F1; padding: 10px; border-radius: 10px;">
    <h2>Ticket Details</h2>
    <table class="table">
        <tr>
            <th>Created By</th>
            <td>
                @{
                    int? userId = Model.ticket.UserId;
                    User user = StateManager.GetUser(userId);
                    string? email = user.Email;
                }
                @email
            </td>
        </tr>
        <tr>
            <th>Open Date</th>
            <td>@string.Format("{0:dd, MMM yyyy - HH:mm}", Model.ticket.DateCreated)</td>
        </tr>
        <tr>
            <th>Subject</th>
            <td>@Html.DisplayTextFor(model => model.ticket.Subject)</td>
        </tr>
        <tr>
            <th>Query</th>
            <td>@Html.DisplayTextFor(model => model.ticket.QueryBody)</td>
        </tr>

    </table>
    @{
        DUT_HelpDesk.DatabaseModels.DutHelpdeskdbContext db = new DUT_HelpDesk.DatabaseModels.DutHelpdeskdbContext();
        string id = Model.ticket.TicketId.ToString();
        var uploadedFile = db.Attachments.FirstOrDefault(f => f.TicketId == int.Parse(id));

        if (uploadedFile != null)
        {
            <div style="text-align: center;">
                <a href="@Url.Action("ViewAttachment", "Technician", new { id = id })">Attachment</a>
            </div>
        }
    }
</div>

<br />

@*------------------------------------------------Ticket Replies Section------------------------------------------------*@
<div style="background-color: #F1F1F1; padding: 10px; border-radius: 10px;">

    <h4>Replies</h4>
    <table class="table table-responsive table-hover">
        <tr>
            <th style="width: 15%;">Time</th>
            <th style="width: 20%;">From</th>
            <th style="width: 50%;">Message</th>
            <th style="width: 10%;"></th>
        </tr>
        @if (ViewBag.replies.Count > 0)
        {
            @foreach (Reply item in ViewBag.replies)
            {
                <tr>
                    <td>@string.Format("{0:dd, MMM yyyy - HH:mm}", item.Date)</td>
                    @{
                        List<User> users = ViewBag.users;
                        for (int i = 0; i < users.Count; i++)
                        {
                            if (item.UserId == users[i].UserId)
                            {
                                <td>@users[i].Email</td>
                            }
                        }
                    }
                    <td>@item.Message</td>
                    @{
                        var uploadedAtt = db.Attachments.FirstOrDefault(f => f.ReplyId == item.ReplyId);
                        if (uploadedAtt != null)
                        {
                            <td><a href="@Url.Action("ViewReplyAttachment", "Technician", new { id = item.ReplyId })">Attachment</a></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
            }
        }
        else
        {
            <td></td>
            <td></td>
            <td>There are no replies for this ticket. You can reply via the 'Assigned Tickets' page.</td>
            <td></td>
        }
    </table>
</div>