@model List<DUT_HelpDesk.DatabaseModels.Ticket>
@{
    ViewData["Title"] = "Technician Ticket Queue";
    string[] tickets = new string[3];
}

@section scripts{
    <script>
        function SetSort(dropdown, startDate, endDate, status) {

            window.location.href = "/Technician/TechnicianTicketQueue?sortBy=" + dropdown + "&startDate=" + startDate + "&endDate=" + endDate + "&status=" + status;

        }
    </script>
    }


<div>
    <h1>Ticket Queue</h1>
    <br />
    @Html.DropDownList("Sortby", new SelectListItem[] { new SelectListItem()
    { Text = "Date", Value = "Date" }, new SelectListItem()
    { Text = "Date Down", Value = "Date Down" }, new SelectListItem()
    { Text = "Alpha", Value = "Alpha"}}, new {style="width:15%;display:inline;height:37px;border-color:lightgrey;border-radius:3px"})
    @if (ViewBag.startDate != null)
    {
        <input style="width:15%;display:inline;" id="startDate" class="form-control" @*onchange="SetSort(this.value)"*@ type="date" value="@ViewBag.startDate" />
    }
    else
    {
        <input style="width:15%;display:inline;" id="startDate" class="form-control" @*onchange="SetSort(this.value)"*@ type="date" />
    }
    @if (ViewBag.endDate != null)
    {
        <input style="width:15%;display:inline;" id="endDate" class="form-control col-sm-5" @*onchange="SetSort(startDateId.value, endDateId.value)"*@ type="date" value="@ViewBag.endDate" />
    }
    else
    {
        <input style="width:15%;display:inline;" id="endDate" class="form-control col-sm-5" @*onchange="SetSort(startDateId.value, endDateId.value)"*@ type="date" @*value="@DateTime.Today.ToString("yyyy-MM-dd")"*@ />
    }
    @Html.DropDownList("Status", new SelectListItem[] { new SelectListItem()
    { Text = "Any Status", Value = "" }, new SelectListItem()
    { Text = "Available", Value = "Available" }, new SelectListItem()
    { Text = "Closed", Value = "Closed" }, new SelectListItem()
    { Text = "Active", Value = "Active" }}, new {style="width:15%;display:inline;height:37px;border-color:lightgrey;border-radius:3px"})
    <input style="width:15%;display:inline;" id="filter" class="form-control col-sm-5" type="button" value="Filter" onclick="SetSort(Sortby.value, startDate.value, endDate.value, Status.value)" />
    <br />
    <table class="table table-responsive table-hover">
        <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Current Technicians</th>
            <th></th>
        </tr>
        <br />
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                if (item != null)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Subject)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
                        <td>@Html.DisplayFor(modelItem => item.Priority)</td>
                        <td>@Html.DisplayFor(modelItem => item.TicketStatuses.OrderByDescending(x => x.TimeStamp).FirstOrDefault().Status.Name)</td>
                        @if (item.TechnicianCount == null)
                        {
                            <td>@Html.DisplayName("0")</td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(modelItem => item.TechnicianCount)</td>
                        }
                        <td>@Html.ActionLink("Details", "TechnicianDashboardDetail", "Technician", new { id=item.TicketId }, null)</td>
                        @if (item.TicketTechnicians.Where(x => x.TechnicianId == ViewBag.technician.TechnicianId && x.IsAssigned == true).FirstOrDefault() != null)
                        {
                            <td>@Html.ActionLink("Unaccept", "UnassignTicketToTechnicianFromTicketQueue", "Technician", new { id=item.TicketId, techId=ViewBag.technician.TechnicianId }, null)</td>
                        }
                        else
                        {
                            <td>@Html.ActionLink("Accept", "AssignTicketToTechnician", "Technician", new { id=item.TicketId, techId=ViewBag.technician.TechnicianId }, null)</td>
                        }
                    </tr>
                }
            }
        }
    </table>
    <div>
        <a asp-controller="Technician" asp-action="TechnicianTicketQueueReport">Export to PDF</a>
    </div>
</div>



