@using DUT_HelpDesk.Controllers
@model DUT_HelpDesk.DatabaseModels.ReplyTicketViewModel

@{
    ViewBag.Title = "Technician";
}

<div>
    <p>
        @Html.ActionLink("Back", "TechnicianDashboard", "Technician")
    </p>
    @{
        bool closed = Model.isClosed ?? false;
        if (closed)
        {
            <p>
                <span style="color: red; text-align: center">This ticket has been closed and is in "view only" mode.</span>
            </p>
        }
    }
    @*------------------------------------------------Ticket Details Section------------------------------------------------*@

    <div style="background-color: #F1F1F1; padding: 10px; border-radius: 10px;">
        <h2>Ticket Details</h2>
        <table class="table">
            <tr>
                <th>Created By</th>
                <td>
                    @{
                        int? userId = Model.ticket.UserId;
                        User user = StateManager.GetUser(userId);
                        string? email = user.Email;
                    }
                    @email
                </td>
            </tr>
            <tr>
                <th>Open Date</th>
                <td>@string.Format("{0:dd, MMM yyyy - HH:mm}", Model.ticket.DateCreated)</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>@Html.DisplayTextFor(model => model.ticket.Subject)</td>
            </tr>
            <tr>
                <th>Query</th>
                <td>@Html.DisplayTextFor(model => model.ticket.QueryBody)</td>
            </tr>

        </table>
        @{
            DUT_HelpDesk.DatabaseModels.DutHelpdeskdbContext db = new DUT_HelpDesk.DatabaseModels.DutHelpdeskdbContext();
            string id = Model.ticket.TicketId.ToString();
            var uploadedFile = db.Attachments.FirstOrDefault(f => f.TicketId == int.Parse(id));

            if (uploadedFile != null)
            {
                <div style="text-align: center;">
                    <a href="@Url.Action("ViewAttachment", "Technician", new { id = id })">Attachment</a>
                </div>
            }
        }
    </div>

    <br />

    @*------------------------------------------------Ticket Replies Section------------------------------------------------*@
    <div style="background-color: #F1F1F1; padding: 10px; border-radius: 10px;">

        <h4>Replies</h4>
        <table class="table table-responsive table-hover">
            <tr>
                <th style="width: 15%;">Time</th>
                <th style="width: 20%;">From</th>
                <th style="width: 50%;">Message</th>
                <th style="width: 10%;"></th>
            </tr>
            @if (ViewBag.replies.Count > 0)
            {
                @foreach (Reply item in ViewBag.replies)
                {
                    <tr>
                        <td>@string.Format("{0:dd, MMM yyyy - HH:mm}", item.Date)</td>
                        @{
                            List<User> users = ViewBag.users;
                            for (int i = 0; i < users.Count; i++)
                            {
                                if (item.UserId == users[i].UserId)
                                {
                                    <td>@users[i].Email</td>
                                }
                            }
                        }
                        <td>@item.Message</td>
                        @{
                            var uploadedAtt = db.Attachments.FirstOrDefault(f => f.ReplyId == item.ReplyId);
                            if (uploadedAtt != null)
                            {
                                <td><a href="@Url.Action("ViewReplyAttachment", "Technician", new { id = item.ReplyId })">Attachment</a></td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                    </tr>
                }
            }
            else
            {
                <td></td>
                <td></td>
                <td>There are no replies for this ticket. Add a reply below.</td>
                <td></td>
            }
        </table>
    </div>

    @*------------------------------------------------New Reply Section------------------------------------------------*@
    @{
        if (!closed)
        {        
            <div style="width: 50%; background-color: #F1F1F1; padding: 10px; border-radius: 10px;">
                <form method="post" asp-action="MyReplies" enctype="multipart/form-data">
                    <div class="form-group" style="width: 100%;">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <label asp-for="Message"><h6>New Reply</h6></label>
                        <textarea asp-for="Message" class="form-control" maxlength="255"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <input asp-for="id" type="hidden" value="@Model.ticket.TicketId" />

                    <div style="width: 100%; max-width: 600px;">
                        <div style="display: flex; justify-content: space-between;">
                            <div style="width: 49%;margin-top: 20px">
                                <input asp-for="file" class="form-control" />
                            </div>
                            <div style="width: 49%; text-align: right; margin-top: 20px">
                                <button style="width: 100px" type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>



            @*------------------------------------------------Lead Technician Options Section------------------------------------------------*@
            <div>
                @{
                    if (ViewBag.userType == "TechnicianLead")
                    {
                        <br />
                        <hr>
                        <h4>Lead Technician Options</h4>
                        <div style="max-width: 300px; background-color: #F1F1F1; padding: 10px; border-radius: 10px">
                            <form id="assignTechnicianForm" method="post" asp-action="AssignTechnician">
                                <h5>Assign ticket to a technician</h5>
                                <div class="form-group">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label asp-for="assignID">Technician ID:</label>
                                    <input asp-for="assignID" class="form-control" maxlength="5" />
                                    <button style="margin-top: 10px" type="submit" class="btn btn-primary">Assign to Ticket</button>
                                </div>
                            </form>
                        </div>
                    }
                    else
                    {
                        <br />
                    }
                }
            </div>

            @*------------------------------------------------General Ticket Options Section------------------------------------------------*@
            <hr>
            <h4>General Ticket Options</h4>

            <div>

                <div style="display: inline-block; width: 300px; background-color: #F1F1F1; padding: 10px; border-radius: 10px">
                    <form id="forwardTicketDetailsForm" method="post" asp-action="ForwardTicketDetails">
                        <h5>Forward ticket details</h5>
                        <div class="form-group">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <label asp-for="forwardEmail">Email:</label>
                            <input asp-for="forwardEmail" class="form-control" maxlength="100" />
                            <button style="margin-top: 10px" type="submit" class="btn btn-primary">Forward</button>
                        </div>
                    </form>
                </div>

                <div style="display: inline-block; width: 300px; background-color: #F1F1F1; padding: 10px; border-radius: 10px">
                    <form id="forwardTicketDetailsForm" method="post" asp-action="ForwardTicketDetails">
                        <h5>Forward ticket details</h5>
                        <div class="form-group">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <label asp-for="forwardEmail">Email:</label>
                            <input asp-for="forwardEmail" class="form-control" maxlength="100" />
                            <button style="margin-top: 10px" type="submit" class="btn btn-primary">Forward</button>
                        </div>
                    </form>
                </div>

            </div>

            <br />
            <form id="closeTicketForm" method="post" asp-action="CloseTicket">
                <input type="hidden" name="ticketId" value="@Model.ticket.TicketId" />
                <button type="button" class="btn btn-danger" onclick="confirmCloseTicket()">Close This Ticket</button>
            </form>
            <script>
                function confirmCloseTicket() {
                    if (confirm("Are you sure you want to close the ticket? This cannot be undone.")) {
                        document.getElementById("closeTicketForm").submit(); // Submit the form
                    }
                }
            </script>
        }
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}