@using DUT_HelpDesk.Controllers;
@model List<DUT_HelpDesk.DatabaseModels.Ticket>
@{
    ViewData["Title"] = "Technician";
    string[] tickets = new string[3];
}

<div>
    <h1>Assigned Tickets</h1>
    <br />
    <table class="table table-responsive table-hover">
        <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Priority</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            @if (item != null)
            {
                var ticketStatus = StateManager.GetTicketStatus(item.TicketId);
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Subject)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
                    <td>@Html.DisplayFor(modelItem => item.Priority)</td>
                    <td>@ticketStatus</td>
                    <td>@Html.ActionLink("Details", "TechnicianDashboardDetail", "Technician", new { id=item.TicketId }, null)</td>
                    @{
                        if (ticketStatus != "Closed")
                        {
                            <td>@Html.ActionLink("Unaccept", "UnAssignTicketToTechnician", "Technician", new { id=item.TicketId, techId=ViewBag.technician.TechnicianId }, null)</td>
                        }
                        else{
                            <td></td>                     
                        }
                     }
                </tr>
            }
        }
    </table>
</div>



